<div class="container">

  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">All Users
            <small> Make a connection</small>
          </h1>
      </div>
  </div>

  <div class="row">
    <div ng-repeat="u in users">
        <div class="clearfix" ng-if="$index % 3 == 0"></div>
        <div class="col-sm-4 portfolio-item">
            
            <div class="panel panel-default">
              <div class="panel-body">
                <a href="#">
                    <img class="img-responsive" src="http://placehold.it/700x400" alt="">
                </a>

                   <div class="list-group">
                    <div class="list-group-item">{{u.name || 'N\A'}}</div>
                    <div class="list-group-item"><i class="fa fa-map-marker"></i> {{u.location || 'San Francisco'}}</div>
                    <div class="list-group-item"><i class="fa fa-github"></i> <a href="{{u.github || 'https://github.com'}}">{{u.github || 'https://github.com'}}</a></div>
                    <div class="list-group-item">Karma: {{u.karmapoints || 'N\A'}}</div>
                  </div>

              </div>
            </div>
        </div>
    </div>
</div>

  <!-- Pagination -->
  <div class="row text-center">
      <div class="col-lg-12">
          <ul class="pagination">
              <li>
                  <a href="#">&laquo;</a>
              </li>
              <li class="active">
                  <a href="#">1</a>
              </li>
              <li>
                  <a href="#">2</a>
              </li>
              <li>
                  <a href="#">3</a>
              </li>
              <li>
                  <a href="#">4</a>
              </li>
              <li>
                  <a href="#">5</a>
              </li>
              <li>
                  <a href="#">&raquo;</a>
              </li>
          </ul>
      </div>
  </div>
</div>