<div ng-controller="FooterController as ctrl">
  <div class="pusher">
    <div class="ui vertical masthead center aligned segment">

      <div class="ui text container">
        <h1 class="ui header">
          MatchJS
        </h1>
        <h2>Get Matched with a JS Mentor or Mentee today!</h2>
        <form method="get" action="/auth/github" class="form-inline">
        <button class="ui github button" id="homeButton"><i class="github icon" id="githubIcon"></i>Get Started<i class="right arrow icon"></i></button>
        <br>
        <span id="signupText">(Sign-up or Log-in <i>free</i> via Github!)</span>
        </form>
      </div>

    </div>

    <!-- <div class="ui inverted vertical stripe segment getStarted" id="drop2">
      <div class="ui container">
        <center>
        <ul class="list-inline intro-social-buttons ui">
          <li>
            <form method="get" action="/auth/github" class="form-inline">
            <button class="btn btn-block btn-social btn-lg btn-github" id="button-login">
            <i class="fa fa-github"></i> Sign in with Github
            </button>
            </form>
          </li>
        </ul>
      </center>
    </div>
    </div> -->

    <div class="ui vertical stripe segment inverted" id="drop3">
      <div class="ui text container">
        <center>
        <i class="fa fa-users" id="userIcon"></i>
        <h2 class="ui header" id="drop3Header"> Get Connected With Local JavaScript Developers</h2>
        <p>Slow-carb whatever neutra lo-fi, leggings green juice chambray cardigan yr seitan twee pop-up knausgaard pork belly. 90's squid biodiesel yr, authentic food truck jean shorts chia hashtag.</p>
        <div class="ui stackable four column grid">
          <div class="column"><img id="devPics" class="ui small circular image" src="assets/img/users/1.jpg"></div>
          <div class="column"><img id="devPics" class="ui small circular image" src="assets/img/users/3.jpg"></div>
          <div class="column"><img id="devPics" class="ui small circular image" src="assets/img/users/2.jpg"></div>
          <div class="column"><img id="devPics" class="ui small circular image" src="assets/img/users/4.jpg"></div>
        </div>
        </center>
      </div>
    </div>

    <div class="ui vertical stripe segment" id="drop4">
      <div class="ui text container">
        <center>
        <i class="glyphicon glyphicon-fire" id="igniteIcon"></i>
        <h2 class="ui header"> Ignite Your Learning</h2>
        <p>Ugh blog direct trade, church-key hoodie locavore bicycle rights salvia small batch. Man bun messenger bag letterpress paleo try-hard stumptown, celiac XOXO normcore pop-up cred gastropub iPhone tumblr selvage.</p>
        </center>
      </div>
    </div>

    <div class="ui inverted vertical footer segment">
      <div class="ui container">
        <div class="ui stackable inverted divided equal height stackable grid">
          <div class="three wide column">
            <h4 class="ui inverted header">About</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">Sitemap</a>
              <a href="#" class="item">Contact Us</a>
              <a href="#" class="item">Religious Ceremonies</a>
              <a href="#" class="item">Gazebo Plans</a>
            </div>
          </div>

          <div class="seven wide column">
            <h4 class="ui inverted header">Footer Header</h4>
            <p>Extra space for a call to action inside the footer that could help re-engage users.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <footer-dir></footer-dir> -->