<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1>MatchJS</h1>
                    <hr class="intro-divider">
                    <ul class="list-inline intro-social-buttons">
                        <li>
                  			 <form method="get" action="/auth/github" class="form-inline">
                		  		<button class="btn btn-block btn-social btn-lg btn-github" id="button-login">
                					<i class="fa fa-github"></i> Sign in with Github
                				  </button>
                			   </form>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


