<div class="container">
    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">Sign in</h3>
        </div>
          <div class="panel-body">

      			 <form method="get" action="/auth/github" class="form-inline">
    		  		<button class="btn btn-block btn-social btn-lg btn-github">
    					<i class="fa fa-github"></i> Sign in with Github
    				  </button>
    			   </form>

          </div>
      </div>
    </div>
  </div>
</div>


