<div ng-controller="NavController as nav">
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <div class="navbar-header">
                <a class="navbar-brand topnav" href="/">MatchJS </a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="" ng-show="isLoggedIn()"> {{'Hello'}} {{user.displayName}} </a></li>
                  <li><a href="/logout" ng-show="isLoggedIn()"> Sign Out </a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>