<div ng-controller="NavController as ctrl">
  <nav class="navbar navbar-inverse navbar-default navbar-fixed-top topnav" role="navigation">
    <div class="container topnav">
      <div class="navbar-header">
        <a class="navbar-brand topnav" href="/"><strong>MatchJS</strong></a>
      </div>
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right" ng-show="ctrl.isLoggedIn()" >
          <li uib-dropdown on-toggle="toggled(open)">
            <img class="img-circle" ng-src="{{ctrl.user.avatar || 'http://placehold.it/48x48'}}" style=" width: 48px; height: 48px;">
            <span><a href id="simple-dropdown" uib-dropdown-toggle>{{ctrl.user.displayName}} <i class="fa fa-caret-down"></i></a></span>
          <ul uib-dropdown-menu aria-labelledby="simple-dropdown" class="nav">
            <li><a ng-click="ctrl.getThisUserProfile(ctrl.user.username)"> Profile <i class="fa fa-user"></i></a></li>
            <li><a href="/#/inbox">Messages <i class="fa fa-envelope"></i></a></li>
            <li><a href="/#/settings"> Settings <i class="fa fa-cog"></i></a></li>
            <li><a href="/logout"> Sign Out <i class="fa fa-sign-out"></i></a></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
<!--   <div class="ui menu top fixed">
    <div class="header item">
      <span id="brand">MatchJS</span>
    </div>
  </div> -->
</div>
