<div class="container-fluid" ng-controller="invitationsController as ctrl">
  <!-- Jumbotron -->
  <div class="row">
    <div class="jumbotron">
      <h1>Invitations Page</h1>
      <h2>{{ ctrl.recipient }}</h2>
    </div>
  </div>

  <div class="row">

  </div>

    <div class="col-md-4 profileInfo">
      <h1>Profile Info</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#">
            <center><img class="img-responsive" ng-src="{{ctrl.recipientProfile.photo || 'http://placehold.it/242x242'}}" alt="" style="margin-bottom: 10px; width: 242px; height: 242px"></center>
          </a>
          <div class="list-group">
            <div class="list-group-item"><strong>{{ctrl.recipient || 'N/A'}}</strong></div>
            <div class="list-group-item"><i class="fa fa-map-marker"></i> {{ctrl.recipientProfile.location || 'San Francisco'}}</div>
            <div class="list-group-item"><i class="fa fa-github"></i> <a href="{{u.github || 'https://github.com'}}">{{ctrl.recipientProfile.github || 'https://github.com'}}</a></div>
            <div class="list-group-item">Karma: {{ctrl.recipientProfile.karmaPoints || 'N/A'}}</div>
          </div>

        </div>
      </div>
    </div>

    <div class="col-md-8 inviteInfo">
      <h1>Invite Info</h1>

      <!-- Mentor/Mentee Row -->
      <form class="row">
        <div class="col-md-6">
          <h3>Mentor:</h3>
          <h5>{{ctrl.username}}</h5>
        </div>
        <div class="col-md-6">
          <h3>Mentee: </h3>
          <h5>{{ctrl.recipient}}</h5>
        </div>
      </form>

      <!-- Location Row -->
      <form class="row">
        <div class="col-md-12">
        <h3>Where:</h3>
          <div class="col-md-8">
            <input type="text" class="form-control" placeholder="Enter location" ng-model="ctrl.formData.sessionInfo.where">
          </div>
        </div>
      </form>


<!--       <form class="row">
      <div class="col-md-12">
        <h3>When:</h3>
        <div class="col-md-8">
          <input type="text" class="form-control" placeholder="Enter a date" ng-model="ctrl.formData.sessionInfo.when">
        </div>
      </div>
      </form>
 -->
<!-- Date/Time Row -->

      <div class="row">
        <div class="col-md-12">
          <h3>When:</h3>
          <div class="col-md-6">

          <!-- Time Picker -->

            <uib-timepicker ng-model="ctrl.tm" ng-change="ctrl.changed()" hour-step="ctrl.hstep" minute-step="ctrl.mstep" show-meridian="ctrl.ismeridian"></uib-timepicker>

          <!-- Date Picker-->

            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.format}}" ng-model="ctrl.dt" is-open="ctrl.popup1.opened" min-date="ctrl.minDate" max-date="ctrl.maxDate" datepicker-options="ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="ctrl.altInputFormats" id="dateSelector"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="ctrl.open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
          </div>


          <!-- Preview/Buttons -->
          <div class="col-md-6">
            <pre>Selected date is: <em>{{ctrl.dt | date:'fullDate' }} at {{ctrl.tm.getHours()}}:{{ctrl.displayMinutesCorrectly()}}</em>
            </pre>

            <button type="button" class="btn btn-info" ng-click="ctrl.toggleMode()">12H / 24H</button>
            <button type="button" class="btn btn-danger" ng-click="ctrl.clear()">Clear</button>

          </div>
        </div>
      </div>

      <!-- Description Row -->

      <form class="row">
        <div class="col-md-12">
          <h3>Meeting Description:</h3>
          <div class="col-md-12">
            <input type="text" class="form-control" placeholder="Enter a brief description of the meeting" ng-model="ctrl.formData.sessionInfo.summary">
          </div>
        </div>
      </form>
      <br>

<!-- Submit Button -->
      <div class="row">
        <div class="col-md-5"></div>
        <div class="col-md-2">
          <button class="btn btn-primary" ng-click="ctrl.createInvitation()">
            Submit Invite
          </button>
        </div>
        <div class="col-md-5"></div>
      </div>

    </div>



  </div>
