<div class="container-fluid" ng-controller="invitationsController as ctrl" ng-model="ctrl.submitted">

    <!-- White Space -->
    <div class="col-sm-2"></div>

    <!-- Invite Content -->
    <div class="col-sm-8 inviteInfo" ng-hide="ctrl.submitted">

      <!-- Mentor/Mentee Row -->
      <div class="row">
        <div class="col-sm-12">

      <!-- Mentor Card -->
        <div class="col-sm-6 portfolio-item">
          <h2>Mentor:</h2>
            <div class="ui special cards">
              <div class="card">
                <div class="blurring dimmable image">
                  <img ng-src="{{ctrl.currentUserProfile.photo || 'http://placehold.it/242x242'}}" >
                </div>
                <div class="content">
                  <a class="header">{{ctrl.name || 'N/A'}}</a>
                </div>
              </div>
            </div>
        </div>

      <!-- Mentee Card -->
        <div class="col-sm-6 portfolio-item">
          <h2>Mentee:</h2>
            <div class="ui special cards">
              <div class="card">
                <div class="blurring dimmable image">
                  <img ng-src="{{ctrl.recipientProfile.photo || 'http://placehold.it/242x242'}}" >
                </div>
                <div class="content">
                  <a class="header">{{ctrl.recipientName || 'N/A'}}</a>
                </div>
              </div>
            </div>
        </div>

        </div>
      </div><!--  End Mentor/Mentee Row  -->
      <br>

      <!-- Location Row -->
      <div class="row">
        <div class="col-sm-12">
        <h3>Where:</h3>
          <div class="col-sm-12">
            <input type="text" class="form-control" placeholder="Enter location" ng-model="ctrl.formData.sessionInfo.where">
          </div>
        </div>
      </div> <!-- End Location Row -->
      <br>

      <!-- Time/Date Row -->
      <div class="row">
        <div class="col-sm-12">
          <h3>When:</h3>

          <!-- Time/Date Picker -->
          <div class="col-sm-12">

          <!-- Time Picker -->
            <uib-timepicker ng-model="ctrl.date" ng-change="ctrl.changed()" hour-step="ctrl.hstep" minute-step="ctrl.mstep" show-meridian="ctrl.ismeridian"></uib-timepicker>

          <!-- Date Picker-->
            <div class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{ctrl.format}}" ng-model="ctrl.date" is-open="ctrl.isCalendarOpen" min-date="ctrl.minDate" max-date="ctrl.maxDate" datepicker-options="ctrl.dateOptions" ng-required="true" close-text="Close" alt-input-formats="ctrl.altInputFormats" id="dateSelector" placeholder="Select a date from the calendar"/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="ctrl.openCalendar()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </div>
          </div> <!-- End Time/Date Picker -->

        </div>
      </div> <!-- End Time/Date Row -->
      <br>

      <!-- Description Row -->
      <div class="row">
        <div class="col-sm-12">
          <h3>Meeting Description:</h3>
          <div class="col-sm-12">
            <input type="text" class="form-control" placeholder="Enter a brief description of the meeting" ng-model="ctrl.formData.sessionInfo.summary">
          </div>
        </div>
      </div> <!-- End Description Row -->
      <br>

      <!-- Submit Button -->
      <div class="row">
        <!-- White Space -->
        <div class="col-sm-12">
          <div class="col-sm-5"></div>

          <!-- Button -->
          <div class="col-sm-2">
            <button class="btn btn-default" ng-click="ctrl.attemptSubmit()">
              Submit Invite
            </button>
          </div>

          <!-- White Space -->
          <div class="col-sm-5"></div>
        </div>
      </div> <!-- End Submit Button -->
      <br><br>

    </div>

  <!-- Submission Sent -->
  <div class="ui center aligned raised very padded text container segment"  ng-show="ctrl.submitted">
    <h1>Invitation Sent!</h1>
    <a class="btn teal-button" href="/"> Connect with more users </a>
  </div>

  <!-- White Space -->
  <div class="col-sm-2"></div>

</div>
