<div class="container-fluid" ng-controller="invitationsController as ctrl">
  <div class="row">
    <div class="jumbotron">
      <h1>Invitations Page</h1>
      <h2>{{ ctrl.recipient }}</h2>
    </div>
  </div>
  <div class="row"></div>
    <div class="col-md-4 profileInfo">
      <h1>Profile Info</h1>
      <div class="panel panel-default">
        <div class="panel-body">
          <a href="#">
            <center><img class="img-responsive" ng-src="{{ctrl.recipientProfile.photo || 'http://placehold.it/242x242'}}" alt="" style="margin-bottom: 10px; width: 242px; height: 242px"></center>
          </a>
          <div class="list-group">
            <div class="list-group-item"><strong>{{ctrl.recipient || 'N/A'}}</strong></div>
            <div class="list-group-item"><i class="fa fa-map-marker"></i> {{ctrl.recipientProfile.location || 'San Francisco'}}</div>
            <div class="list-group-item"><i class="fa fa-github"></i> <a href="{{u.github || 'https://github.com'}}">{{ctrl.recipientProfile.github || 'https://github.com'}}</a></div>
            <div class="list-group-item">Karma: {{ctrl.recipientProfile.karmaPoints || 'N/A'}}</div>
          </div>

        </div>
      </div>
    </div>
    <div class="col-md-8 inviteInfo">
      <h1>Invite Info</h1>
      <form>
        Mentor: <br>
        {{ctrl.username}} <br>
        Mentee: <br>
        {{ctrl.recipient}}<br>
        When:<br>
        <input type="text" ng-model="ctrl.formData.sessionInfo.when"><br>
        Where:<br>
        <input type="text" ng-model="ctrl.formData.sessionInfo.where"><br>
        Summary:<br>
        <input type="text" ng-model="ctrl.formData.sessionInfo.summary"><br>
      </form>
      <h2>{{ctrl.formData.sessionInfo.time}}</h2>


      <form class="row">
        <div class="col-md-8">
          <input type="text" class="form-control" placeholder="Enter location">
        </div>
      </form>

      <form class="row">
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder="Month">
        </div>
        <div class="col-md-2">
          <input type="text" class="form-control" placeholder="Day">
        </div>
        <div class="col-xs-2">
          <input type="text" class="form-control" placeholder="Year">
        </div>
        <div class="col-xs-2">
          <input type="text" class="form-control" placeholder="Hr">
        </div>
        <div class="col-xs-2">
          <input type="text" class="form-control" placeholder="Mn">
        </div>
      </form>
      <br>
      <br>
      <br>


<!-- Time Picker -->

      <div class="row">
        <uib-timepicker ng-model="ctrl.mytime" ng-change="ctrl.changed()" hour-step="ctrl.hstep" minute-step="ctrl.mstep" show-meridian="ctrl.ismeridian"></uib-timepicker>

<!--           <div class="col-xs-6">
          Hours step is:
            <select class="form-control" ng-model="ctrl.hstep" ng-options="opt for opt in ctrl.options.hstep"></select>
          </div>
          <div class="col-xs-6">
          Minutes step is:
            <select class="form-control" ng-model="ctrl.mstep" ng-options="opt for opt in ctrl.options.mstep"></select>
          </div> -->

  <hr>

  <button type="button" class="btn btn-info" ng-click="ctrl.toggleMode()">12H / 24H</button>
  <button type="button" class="btn btn-danger" ng-click="ctrl.clear()">Clear</button>
  <button type="button" class="btn btn-default" ng-click="ctrl.update()">Reset</button>

      </div>

<!-- End Time Picker -->

<!-- Date Picker -->

<div class="row">
    <pre>Selected date is: <em>{{dt | date:'fullDate' }}</em></pre>

    <h4>Inline</h4>
    <div style="display:inline-block; min-height:290px;">
      <uib-datepicker ng-model="dt" min-date="minDate" show-weeks="true" class="well well-sm" custom-class="getDayClass(date, mode)"></uib-datepicker>
    </div>

    <h4>Popup</h4>
    <div class="row">
        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup="{{format}}" ng-model="dt" is-open="popup1.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>

        <div class="col-md-6">
            <p class="input-group">
              <input type="text" class="form-control" uib-datepicker-popup ng-model="dt" is-open="popup2.opened" min-date="minDate" max-date="maxDate" datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label>Format: <span class="muted-text">(manual alternate <em>{{altInputFormats[0]}}</em>)</span></label> <select class="form-control" ng-model="format" ng-options="f for f in formats"><option></option></select>
        </div>
    </div>

    <hr />
    <button type="button" class="btn btn-sm btn-info" ng-click="today()">Today</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="setDate(2009, 7, 24)">2009-08-24</button>
    <button type="button" class="btn btn-sm btn-danger" ng-click="clear()">Clear</button>
    <button type="button" class="btn btn-sm btn-default" ng-click="toggleMin()" uib-tooltip="After today restriction">Min date</button>
</div>


<!-- End Date Picker -->

      <br>
      <button class="btn btn-primary" ng-click="ctrl.createInvitation()">
        Submit Invite
      </button>
    </div>
  </div>
