<div class="container-fluid" ng-controller"GuidelinesController">
  <div class="jumbotron">
    <h1>Guidelines</h1>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h4>
        The MatchJS community is committed to creating a welcoming, civil, open, safe and constructive environment. We expect all users to follow the standards laid out below when participating in any interactions on the site or in-person during mentorhship meetings.
      </h4>
      <h4>
        Be respectful and inclusive. Please do not use overtly sexual language or imagery, and do not attack anyone based on any aspect of personal identity, including gender, sexuality, religion, ethnicity, race, age or ability. Keep in mind that what you write in public forums is read by many people who don’t know you personally, so please refrain from making prejudiced or sexual jokes and comments – even ones that you might consider acceptable in private. Ask yourself if a comment or statement might make someone feel unwelcomed or like an outsider.
      </h4>
      <h4>
        In particular, do not sexualize the term “Julia” or any other aspects of the project. While “Julia” is a female name in many parts of the world, the programming language is not a person and does not have a gender.
      </h4>
      <h4>
        Give credit. All participants in the Julia community are expected to respect copyright laws and ethical attribution standards. This applies to both code and written materials, such as documentation or blog posts. Materials that violate the law, are plagiaristic, or ethically dubious in some way will be removed from officially-maintained lists of resources.

      </h4>
      <h4>
        If you believe one of these standards has been violated, please either file an issue on an appropriate repository, or contact a Julia core developer (at your discretion). Keep in mind that most mistakes are due to ignorance rather than malice.
      </h4>
      <h4>
        Be concise. Constructive criticism and suggestions are welcome, but high-traffic forums do not generally have the bandwidth for extensive discourse. Consider writing a blog post if you feel that you have enough to say on a particular subject.
      </h4>
      <h4>
        Get involved. The Julia community is built on a foundation of reciprocity and collaboration. Be aware that most community members contribute on a voluntary basis, so ideas and bug reports are ok, but demands are not. Pull requests are always welcomed – see the guidelines for contributing to read about how to get started.
      </h4>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>
