<div ng-controller="AuthController as ctrl">
  <div class="intro-header">
    <div class="container">
      <div class="row">
      <div class="col-lg-12">
        <div class="intro-message">
          <h3>Please add email to continue</h3>
              <form class="form-inline">
                <div class="form-group">
                  <input type="email" class="form-control" ng-model="ctrl.email" placeholder="me@example.com">
                </div>
                <button type="submit" class="btn btn-primary" ng-click="submitEmail()">Continue</button>
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer-dir></footer-dir>