/*                    */
/* Universal settings */
/*                    */
html, body, .indexView, .inbox, .row, .conversations, .messages{
  height: 97%;
  box-sizing: border-box;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
   /* overflow-y: scroll;*/
    height: 500px;
}

#inbox-reply-button {
  background-color: #009E9A;
  color: #FFFFFF;
}

#panel-chat {
  overflow-y: scroll;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

.indexView {
  margin-top:40px;
}

/*               */
/*Shared Features*/
/*               */
.mainContainer {
  margin-top: 20px;
}

.messages, .conversations {
  padding-left: 3%;
}

/*For the Box with uls and titles*/
.messageBox, .conversationBox {
  height: 80%;
}

.messagesHeader, .conversationsHeader{
  display: inline-block;
}

/*For the ULs*/
.messageList, .conversationList{
  height: 85%;
  overflow-x: scroll;
  list-style-type: none;
  padding: 0px;
}

.messageInput, .conversationInput{
  height: 20%;
}

.messages{
  border-left: solid 1px;
}

.message{
  box-sizing: border-box;
  padding: 1%;
  /*overflow: auto;*/
}


.conversation {
  padding: 1%;
  border: solid 1px;
}