/* Universal settings */
html, body, .indexView, .inbox, .row, .conversations, .messages{
  height: 100%;
  box-sizing: border-box;
}

/*Both Feathers*/
.messages, .conversations {
  padding-left: 3%;
}

/*Message Features*/
.messages{
  border-left: solid 1px;
}
#messageList, #conversationList{
  height: 90%;
  overflow: scroll;
  list-style-type: none;
  padding: 0px;
}
.message{
  box-sizing: border-box;
  padding: 2%;
}


/*Conversation Features*/
.conversation {
  padding: 5%;
  /*text-align: center;*/
  border: solid 1px;
}

.messageList {
  height: 80%;
}
.messageInput {
  height: 20%;
}

.odd {
  background-color: #eee;
}
.even{
  background-color: white;
}

