/* Universal settings */
html, body, .indexView, .inbox, .row, .conversations, .messages{
  height: 100%;
  box-sizing: border-box;
}

/*Shared Features*/
.messages, .conversations {
  padding-left: 3%;
}

#messageList, #conversationList{
  height: 90%;
  overflow: scroll;
  list-style-type: none;
  padding: 0px;
}

.messageInput, .conversationInput{
  height: 20%;
}

.odd {
  background-color: #eee;
}
.even{
  background-color: white;
}

/*Message Features*/
.messages{
  border-left: solid 1px;
}

.messageList {
  height: 80%;
}

/*Individual Message*/
.message{
  box-sizing: border-box;
  padding: 2%;
}

/*Conversation Features*/
.conversations {
  height: 80%;
}

.conversation {
  padding: 5%;
  /*text-align: center;*/
  border: solid 1px;
}

.plus {
  width: 100%;
  margin: 0px;
}



