/*for making mouse turn to cursor on navbar menu hover*/

ul.nav li:hover {
    cursor: pointer;
}

.navbar-default .navbar-nav > li > a {
   color: white; /*Change active text color here*/
   font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}

.navbar-link:hover {
  background-color: #00676C;
}

.navbar-default {
  background-color: #009E9A;
  border-color: white;
  border-color: #008D8A;
  border-bottom-width: 3px;
}

.dropdown:hover .dropdown-menu {
  display: block;
}