<link rel="stylesheet" href="bower_components/semantic/dist/semantic.min.css">
<div id="inbox" class="container"  ng-controller="InboxController as ctrl" ng-init="ctrl.getAllUsers()">
  <div class="row">
    <div class="col-md-4">
      <!-- User Search Bar/Drop Down -->
      <div class="ui segment">
        <ui-select ng-model="user.selected" on-select="ctrl.switchConversation(ctrl.conversationList[0])" theme="bootstrap" ng-disabled="disabled" style="min-width: 100px;">
          <ui-select-match placeholder="Start a new conversation">Start a new conversation</ui-select-match>
          <ui-select-choices repeat="user in ctrl.users | filter: {name: $select.search}">
            <div ng-bind-html="user.name | highlight: $select.search"></div>
            <small>
            <span ng-bind-html="''| highlight: $select.search"></span>
            </small>
          </ui-select-choices>
        </ui-select>
        <br>

        <!-- List of historical conversations -->
        <div class="panel-body"  id="panel-chat">
          <div class="ui middle aligned selection list" >

            <div class="item" ng-repeat="conversation in ctrl.conversationList track by $index" class = "conversation" ng-if="conversation.username != ctrl.username" ui-sref="inbox/conversation({username: conversation.username})">
              <img class="ui avatar image" ng-src="{{conversation.photo || 'http://placehold.it/80x80'}}">
              <div class="content">
                <div class="header">{{conversation.name}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="ui text container segment">
        <div class="ui threaded comments">
          <h3 class="ui dividing header">Conversation with <a href="{{'/#/profile/'+ ctrl.currentRecipient}}">{{ctrl.currentRecipientName}}</a></h3>
          <div class="panel-body"  id="panel-chat" scroll-glue>
            <div class="comment" ng-model="ctrl.currentMessageList" ng-repeat="message in ctrl.currentMessageList track by $index">
              <a class="ui avatar image">
                <img ng-src="{{ctrl.currentRecipientPhoto || 'http://placehold.it/80x80'}}" style=" width: 40px; height: 40px">
              </a>
              <div class="content">
                <a class="author">{{message.from}}</a>
                <div class="metadata">
                  <span class="date"> {{message.time}}</span>
                </div>
                <div class="text">
                  {{message.message}} 
                </div>
              </div>
            </div>
          </div>

          <form class="ui reply form">
            <div class="field">
              <textarea placeholder="Enter your message" ng-model="ctrl.enteredText" ng-submit="ctrl.sendMessage()" ></textarea>
            </div>
            <div class="ui labeled submit icon button" id="inbox-reply-button" ng-click="ctrl.sendMessage()">
              <i class="icon edit"></i> Reply
            </div>
          </form>
          </div>
      </div>
    </div>
  </div>
</div>
<footer-dir></footer-dir>