<div class="container-fluid inbox" ng-controller="InboxController">
  <div class="row mainContainer">
    <div class="col-md-5 conversations">

      <!-- List of all conversation threads -->
      <div class="conversationBox">
        <div class="conversationsHeader"><h1>Conversations</h1></div>
        <ul class="conversationList">
          <li ng-repeat="conversation in conversationList track by $index" class = "conversation" ng-class-odd="'odd'" ng-class-even="'even'" ng-click="switchConversation(conversation)" ng-if="conversation.username!= username">
          <h4>{{conversation.name}}</h4>
          </li>
        </ul>
      </div>

        <!-- Form for adding a new conversation -->
        <div class="conversationInput">
          <form class="form-group" >
            <input type="text" class="form-control" placeholder="Choose a new user" ng-model="newConvoName" ng-submit="startNewConversation()">
            <button type="submit" class="btn btn-primary plus" ng-click="startNewConversation()"><h2 class="plus">+</h2></button>
          </form>
        </div>

    </div>

    <div class="col-md-7 messages">

      <!-- Message History -->
      <div ng-show="currentRecipient" class="messageBox">
        <div class="messagesHeader">
            <h1>Messages with {{currentRecipient}}</h1>
        </div>
        <!-- <h1>{{ enteredText }}</h1> -->
        <ul class="messageList">
          <li ng-repeat="message in currentMessageList track by $index" class="message" ng-class-odd="'odd'" ng-class-even="'even'">
          {{message.from}} :
          {{message.message}}
          </li>
        </ul>
      </div>

      <!-- Displayed if no user selected -->
      <div class="alert alert-warning" ng-show="!currentRecipient" style="margin-top: 15px; width: 250px; height: 100px; margin: 0 auto">
      <center><h3><i class="fa fa-exclamation-triangle"></i>Select a User</h3></center>
      </div>


      <div class="messageInput" ng-show="currentRecipient">
        <form class="form-group" >
          <input type="text" class="form-control" placeholder="Enter your message" ng-model="enteredText" ng-submit="sendMessage()">
          <button type="submit" class="btn btn-primary" ng-click="sendMessage()">Submit</button>
        </form>
      </div>

    </div>
  </div>
</div>

<footer-dir></footer-dir>
