<!-- <nav-bar></nav-bar> -->
<div class="container">
  <div ng-controller="ProfileController">
<!-- PHOTO AND BASICS SECTION -->
    <div class="row">
      <div class="col-sm-6">

        <div id="profileBasicsAndPhoto"  class="panel panel-default" ng-model="selectedStyle.basics" ng-style="selectedStyle.basics">
          <div class="panel-body" ng-cloak> 
            
  <!-- PROFILE PHOTO -->
            <div class='profilePhoto'>
            <!-- photo upload stuff goes here -->
              <img class="img-rounded" ng-src={{profileUser.photo}} height="200" width="200">
            </div>

  <!-- PROFILE BASICS, EXCLUDING PHOTO -->
            <div class="profileBasics">
              <div>
                  <h4>{{profileUser.name || profileUser.username}}</h4><br>
                <p>
                  <strong>Github:</strong> <a href="{{profileUser.github}}">{{profileUser.github}}</a><br>
                  <div ng-hide="saveEditButton.basics.buttonText === 'Save'">
                    <strong>Location: </strong>{{profileUser.location || 'San Francisco'}} <br>
                  </div>
              </div>
              <form ng-hide="saveEditButton.basics.buttonText === 'Edit'">
                <input class="form-control" type="text" ng-model="profileUser.location" placeholder="Location:  {{profileUser.location}}">
              </form>
              <br>
              <!-- saveEditButtonBasics -->
              <button class="btn btn-default" ng-hide="!editMode.isSameUser" ng-model="saveEditButton.basics" ng-click="toggleEditShowBasics()"> {{ saveEditButton.basics.buttonText }}</button>
            </div>
            <div ng-show="contentLoaded">
              <a ui-sref="invitations({username: profileUser.username})" ng-hide="editMode.isSameUser" class="btn btn-primary"> Invite for Mentorship</a>
              <a ui-sref="inbox/conversation({username: profileUser.username})" ng-hide="editMode.isSameUser" class="btn btn-success">Send a Message </a>
              <button ng-show="!editMode.isSameUser && !editMode.isPadawan" ng-click="becomePadawan(profileUser, currentUser)" class="btn btn-warning" ng-cloak>Become a Padawan</button> 
              <button ng-show="!editMode.isSameUser && editMode.isPadawan" ng-click="stopBeingAPadawan(profileUser, currentUser)" class="btn btn-danger" ng-cloak>Stop being a Padawan</button> 
            </div>
          </div><!-- End panel body-->
        </div><!-- End panel panel-default-->
<!-- END PHOTO AND BASICS SECTION -->

<!-- PROFILE SUMMARY -->
        <div id="profileSummary" class="panel panel-default clearfix" ng-model="selectedStyle.summary" ng-style="selectedStyle.summary" >
          <div class="panel-heading">
            <h3 class="panel-title">Summary</h3>
          </div>
          <div class="panel body">
            <form>
              <input class="form-control" type ="text" class='col-sm-4' ng-model="profileUser.summary" ng-disabled="saveEditButton.summary.buttonText === 'Edit'">
            </form>
            <br>
            <button class="btn btn-default" ng-hide="!editMode.isSameUser" ng-model="saveEditButton.summary" ng-click="toggleEditShowSummary()">{{saveEditButton.summary.buttonText}}</button>
          </div> <!--panel body end -->
        </div>
    </div><!-- End col-sm-6 -->

    <div class="col-sm-6">
<!-- PROFILE SKILLS -->
      <div id="profileSkills" class="panel panel-default" ng-model="selectedStyle.skills" ng-style="selectedStyle.skills">
        <div class="panel-heading">
          <h3 class="panel-title">Skills</h3>
        </div>
        <div class="panel-body">
          <form>
            <h4 ng-hide='!editMode.isSameUser'>I want to teach:</h4>
            <h4 ng-hide='editMode.isSameUser'>{{profileUser.displayName || profileUser.username}} wants to teach:</h4>
            <div class="toTeach" ng-model="skills.toTeach">
              <ng-form>
                <label class="checkbox-inline" ng-repeat="skill in skills.collection">
                  <input type="checkbox"  ng-model="skills.toTeach[skill]" ng-checked="skills.toTeach[skill]" ng-disabled="saveEditButton.skills.buttonText ==='Edit'" /> {{skill}}
                </label>
              </ng-form>
            </div>
            <br>
            <h4 ng-hide="!editMode.isSameUser">I want to learn:</h4>
            <h4 ng-hide="editMode.isSameUser">{{profileUser.displayName || profileUser.username}} wants to learn:</h4>
            <div>
              <ng-form>
                <label class="checkbox-inline" ng-repeat="skill in skills.collection">
                  <input type="checkbox"  ng-model="skills.toLearn[skill]" ng-checked="skills.toLearn[skill]" ng-disabled="saveEditButton.skills.buttonText ==='Edit'" /> {{skill}}
                </span>
              </ng-form>
            </div>
          </form>
          <br>
          <button class="btn btn-default" style="margin-top: 10px" ng-hide="!editMode.isSameUser" ng-model="saveEditButton.skills" ng-click="toggleEditShowSkills()" > {{ saveEditButton.skills.buttonText }}</button>
        </div>
      </div>


<!-- INVITATIONS - ONLY VISIBLE IF CURRENTUSER === PROFILEUSER -->
      <div class="panel panel-default" id="invitations" ng-hide="!editMode.isSameUser" ng-cloak>
        <div class="panel-heading">
          <h3 class="panel-title">My Invitations</h3>
        </div>
        <div class="panel-body">
          <p ng-bind-html="UImessages.noInvites"></p>
          <div ng-repeat="invite in invitations | orderBy:'when'">
            <div ng-hide="editMode.inviteEditMode=== $index">
              <p><b>Location:</b> {{invite['location']}}</p>
              <p><b>Time & Date:</b> {{invite['when']}}</p>
              <p><b>Mentor:</b> {{invite['senderName']}}</p>
              <p><b>Mentee:</b> {{invite['recipientName']}}</p>
              <p><b>Summary:</b> {{invite['summary']}}</p>
              <div ng-hide="invite.readOnly">
                <button class="btn btn-default btn-sm" ng-click="toggleInviteEditForm(); editMode.inviteEditMode = $index">Edit</button>
                <button class="btn btn-default btn-sm" ng-show="invite['senderName'] === currentUser.username" ng-click="deleteInvite(invite)">Delete</button>
              </div>
            </div>
            <form ng-show="editMode.inviteEditMode=== $index" ng-init="inviteUpdate={}; updateSent = false;" ng-submit="updateInvite(invite.senderName, invite.recipientName, invite.id, inviteUpdate);"> 
              <b>Location: </b><input class="form-control" type="text" ng-model="inviteUpdate.location" placeholder="{{invite['location']}}" ng-disable="!toggle"><br>
              <b>Time & Date: </b><input class="form-control" type="text" ng-model="inviteUpdate.when" placeholder="{{invite['when']}}" ng-disable="!toggle">
              <p><b>Mentor:</b> {{invite['senderName']}}</p>
              <p><b>Mentee:</b> {{invite['recipientName']}}</p>
              <p><b>Summary:</b> {{invite['summary']}}</p>
              <button class="btn btn-default btn-sm submitInvite" type="submit" ng-click="updateSent=true; toggle = !toggle;" ng-hide="toggle">Save</button>
              <p ng-show="toggle"><i>{{UImessages.inviteUpdated}}</i></p>
              <p class="help-block" ng-show="!toggle">Update your mentorship session and notify {{invite['recipientName']}}</p>
            </form>
          <hr>
          </div>
        </div> <!--panel body end -->
      </div>


<!-- PADAWANS  - ONLY VISBLE IF CURRENTUSER === PROFILEUSER -->
      <div class="panel panel-default" id="padawans" ng-hide="!editMode.isSameUser">  
        <div class="panel panel-default" id="padawans" ng-hide="!editMode.isSameUser">
          <div class="panel-heading">
            <h3 class="panel-title">My Padawans</h3>
          </div>
          <div class="panel-body">
            <p ng-bind-html="UImessages.noPadawans"></p>
            <div ng-repeat="padawan in padawans | orderBy:'username'">
              <button class="btn btn-info" ng-click="goToOtherUserProfile(padawan['padawanUsername'])">{{padawan['padawanUsername']}}</button>
            </div>
          </div> <!--panel body end -->
        </div>
      </div>
    </div><!-- col-sm-6 -->

<!-- INITIALIZATION  -->
    <div ng-init="getUserProfile(profileUser); editMode.isSameUser = false; editMode.inviteEditMode = false;"></div>

  </div><!-- row -->
</div><!-- container -->




<footer-dir></footer-dir>
