
<!-- <nav-bar></nav-bar> -->
<div class="container">

<div ng-controller="ProfileController">
	<div id="profileBasicsAndPhoto" class='profileBasicsContainer'>

<!-- PROFILE PHOTO -->
		<div class='profilePhoto'>
			<!-- photo upload stuff goes here -->
			<img src={{user.avatar}} height="200" width="200">
		</div> 

<!-- PROFILE BASICS, EXCLUDING PHOTO -->

		<div class="profileBasics">
			<div ng-hide="saveEditButton.basics.buttonText === 'Save'">
				<p>Name: {{user.displayName}}</p>
				<p>Location: {{user.location}}</p>
				<p>Github: {{user.github}}</p>
			</div>
			<form ng-hide="saveEditButton.basics.buttonText === 'Edit'">
				<input type="text" ng-model="data.update.displayName" placeholder="{{user.displayName}}">
				<input type="text" ng-model="data.update.location" placeholder="{{user.location}}">
				<input type="text" ng-model="data.update.github" placeholder="{{user.github}}">
			</form>
			<!-- saveEditButtonBasics -->
			<button ng-model="saveEditButton.basics" ng-click="toggleEditShowBasics()"> {{ saveEditButton.basics.buttonText }}</button>
		</div>
	</div>
<hr>

<!-- PROFILE SKILLS -->

	<div id="profileSkills">
		<h2>Skills</h2>
		<form>
			<h3>Skills I can teach:</h3>
			<div class="toTeach" ng-model="data.toTeach">
				<input type="checkbox" ng-model="data.toTeach.AngularJS"> AngularJS
				<input type="checkbox" ng-model="data.toTeach.Express"> Express
				<input type="checkbox"ng-model="data.toTeach.JavaScript"> JavaScript
				<input type="checkbox" ng-model="data.toTeach.Backbone"> Backbone
				<input type="checkbox" ng-model="data.toTeach.Nodejs"> Node.js
				<input type="checkbox" ng-model="data.toTeach.ReactJS"> ReactJS
				<input type="checkbox" ng-model="data.toTeach.ES6"> ES6
			</div>
			<h3>Skills I want to learn:</h3>
			<div class="toLearn" ng-model="data.toLearn">
				<input type="checkbox" ng-model="data.toLearn.AngularJS"> AngularJS
				<input type="checkbox" ng-model="data.toLearn.Express"> Express
				<input type="checkbox" ng-model="data.toLearn.JavaScript"> JavaScript
				<input type="checkbox" ng-model="data.toLearn.Backbone"> Backbone
				<input type="checkbox" ng-model="data.toLearn.Nodejs"> Node.js
				<input type="checkbox" ng-model="data.toLearn.ReactJS"> ReactJS
				<input type="checkbox" ng-model="data.toLearn.ES6"> ES6
			</div>
		</form>
		<button ng-model="saveEditButton.skills" ng-click="toggleEditShowSkills()"> {{ saveEditButton.skills.buttonText }}</button>
	</div>

<hr>

	<div id="profileSummary">
		<h2>Summary</h2>
		<form>
			<input type ="text" style="width: 600px"> 
		</form>
		<button>Edit</button>
	</div>
	<div ng-init="getCurrentUserProfile()"></div>
</div>

</div>
