<div class="ui raised very padded text container segment">
  <h2 class="ui header">About</h2>

      <p>
        The world of software engineering is complex and can often be daunting. With frameworks constantly falling in and out of favor it can be difficult to keep pace with the ever-changing landscape. And although Google and Stack Overflow are invaluable tools, they can't replace in-person mentorship.
        <br><br>
        MatchJS is an app designed to connect current and aspiring software engineers seeking to improve their skills in a certain area with mentors who have real-world experience and are willing to share their knowledge. By allowing users to post their availability and seek out mentors by skill set, MatchJS is aiming to make the way we learn and teach a more open and communal experience.
      </p>

  <h2 class="ui header">MatchJS Team</h2>

  <p>
    Anthony Bibbs
  </p>

  <p>
    Rachel Jenkins
  </p>

  <p>
    Polina Soshnin
  </p>
  
  <p>
    Sergey Piterman
  </p>


</div>
<footer-dir></footer-dir>