<div class="ui raised very padded text container segment">
  <h2 class="ui header">About</h2>

      <p>
        The world of software engineering is complex and can often be daunting. With frameworks constantly falling in and out of favor it can be difficult to keep pace with the ever-changing landscape. And although Google and Stack Overflow are invaluable tools, they can't replace in-person mentorship.
        <br><br>
        MatchJS is an app designed to connect current and aspiring software engineers seeking to improve their skills in a certain area with mentors who have real-world experience and are willing to share their knowledge. By allowing users to post their availability and seek out mentors by skill-set, MatchJS aims to make the way we learn and teach a more open and communal experience.
      </p>

  <h2 class="ui header">MatchJS Team</h2>

  <div class="ui stackable four column grid">
    <div class="column">
      <p>
        <center>
        <img id="matchJSteam" class="ui bordered small circular image" src="assets/img/users/2.jpg">
        <strong>Anthony Bibbs</strong>
        <br>
        <a href="https://github.com/abibbs" target="_blank"><i class="fa fa-github" id="devIcons"></i></a>  <a href="https://www.linkedin.com/in/eloquentgeek" target="_blank"><i class="fa fa-linkedin" id="devIcons"></i></a>
        </center>
      </p>
    </div>
    <div class="column">
      <p>
        <center>
        <img id="matchJSteam" class="ui bordered small circular image" src="assets/img/users/3.jpg">
        <strong>Rachel Jenkins</strong>
        <br>
         <a href="https://github.com/dearamerican" target="_blank"><i class="fa fa-github" id="devIcons"></i></a>  <a href="https://www.linkedin.com/in/racheljenkins4" target="_blank"><i class="fa fa-linkedin" id="devIcons"></i></a>
        </center>
      </p>
    </div>
    <div class="column">
      <p>
        <center>
        <img id="matchJSteam" class="ui bordered small circular image" src="assets/img/users/5.jpg">
        <strong>Sergey Piterman</strong>
        <br>
         <a href="https://github.com/spiterman" target="_blank"><i class="fa fa-github" id="devIcons"></i></a>  <a href="https://www.linkedin.com/in/spiterman" target="_blank"><i class="fa fa-linkedin" id="devIcons"></i></a>
        </center>
      </p>
    </div>
    <div class="column">
      <p>
        <center>
        <img id="matchJSteam" class="ui bordered small circular image" src="assets/img/users/6.jpg">
        <strong>Polina Soshnin</strong>
        <br>
         <a href="https://github.com/polinadotio" target="_blank"><i class="fa fa-github" id="devIcons"></i></a>  <a href="https://www.linkedin.com/in/polinasoshnin" target="_blank"><i class="fa fa-linkedin" id="devIcons"></i></a>
      </center>
      </p>
    </div>
  </div>
</div>
<footer-dir></footer-dir>