<div ng-controller="FooterController as ctrl">
  <div class="ui inverted vertical footer segment" id="footerContainer">
    <div class="ui center aligned container">
      <a href="http://www.github.com/httparty/matchjs" id="gitFooter" target="_blank"><i class="fa fa-github"></i></a>
      <br>
      <div class="ui horizontal inverted medium divided link list">
        <a class="item" href="/">Home</a>
        <a class="item" href="/#/about">About</a>
        <a class="item" href="/#/guidelines">Community Guidelines</a>
        <a class="item" href="/#/contact">Contact Us</a>
      </div>
    </div>
  </div>
</div>
